<%-include("./partials/head.ejs") %>
<%-include("./partials/headerLogueado.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi producto</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
        </h2>
        <form class="" action="/products/edit_product"method="POST" >
            <input type="email" name="mail" value="" placeholder="email:">
            <input type="text" name="usuario" value="" placeholder="usuario:">
            <input type="password" name="contraseña" value="" placeholder="contraseña:">
            <input type="date" name="fecha" value="" placeholder="fecha:">
            <input type="number" name="documento" value="" placeholder="documento:">
            <input type="text" name="fotodeperfil" value="" placeholder="introduce el link de tu foto de perfil: ">
            <button class="registrate"type="submit" class="buy-now-button" href>Guardar cambios</button>
        </form>




<%-include("./partials/footer.ejs") %>