<%-include("./partials/head.ejs") %>
<%-include("./partials/headerLogueado.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi producto</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
      
        <form class="formulario-editproduct" action="/products/edit_product"method="POST" >
            
            <input class= "cajita"type="text" id= "imagen" name="imagen" placeholder="Imagen">
            
            <input class= "cajita"type="text" name="nombre" id="nombre" placeholder="Nombre del producto">
           
            <input class= "cajita"type="text" name="descripcion" id="descripcion" placeholder="Descripcion del producto">
           
            <button class= "cajita"class="registrate"type="submit" class="buy-now-button" href>Guardar cambios</button>
        </form>

  </h2>
       

<%-include("./partials/footer.ejs") %>