<%-include("./partials/head.ejs") %>
<%-include("./partials/headerLogueado.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario para agregar prodcutos al catálogo. <br>
        Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos. <br>
        Eliminen estás líneas y coloquen el formulario. <br>
        Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
        ////////////////
        </h2>
        <form action="/P2-Proyectointegrador/product.ejs"method="GET" type="email"><label>product add</address></label>
            <input type="file" name="imagen" value="" placeholder="imagen: ">
                <input type="email" name="mail" value="" placeholder="email:">
                <input type="text" name="fotodeperfil" value="" placeholder="Nombre del producto: ">
                <input type="text" name="usuario" value="" placeholder="descripción:">
                <input type="date" name="fecha" value="" placeholder="fecha de carga:">
        </form>


<%-include("./partials/footer.ejs") %>