<%-include("./partials/head.ejs") %>
<%-include("./partials/header.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
        </h2>
        <form action="/products"method="GET" type="email"><label></address></label>
            <input type="file" name="imagen" value="" placeholder="imagen: ">
                <input type="email" name="mail" value="" placeholder="email:">
                <input type="text" name="fotodeperfil" value="" placeholder="Nombre del producto: ">
                <input type="text" name="usuario" value="" placeholder="descripción:">
                <input type="date" name="fecha" value="" placeholder="fecha de carga:">
        </form>


<%-include("./partials/footer.ejs") %>