<%-include("./partials/head.ejs") %>
<% if (isLogged){ %>
  <%-include("./partials/headerLogueado.ejs") %>
<% } else {  %>
  <%-include("./partials/header.ejs") %>
<% } %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
        </h2>
        <form class="cajaPrincipal"action="/products/crear" method="POST">
            <input class="file" type="text" name="imagen" placeholder="imagen:" id="">
                <input class="fotodeperfil"type="text" name="nombre" placeholder="Nombre del producto: ">
                <input class="texto"type="text" name="descripcion" placeholder="descripción:">
                <button class="registrate"type="submit" class="buy-now-button" href>Agregar</button>
        </form>


<%-include("./partials/footer.ejs") %>