<%-include("./partials/head.ejs") %>
<%-include("./partials/headerLogueado.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> 
        </h2>
        <form class="cajaPrincipal"action="/"method="GET" type="email"><label></address></label>
            <input class="file"type="file" name="imagen" value="" placeholder="imagen: ">
                <input class="correo"type="email" name="mail" value="" placeholder="email:">
                <input class="fotodeperfil"type="text" name="fotodeperfil" value="" placeholder="Nombre del producto: ">
                <input class="texto"type="text" name="usuario" value="" placeholder="descripción:">
                <input class="fechadenac"type="fecha" name="fecha" value="" placeholder="fecha de carga:">
                <button class="registrate"type="submit" class="buy-now-button" href>Agregar</button>
        </form>


<%-include("./partials/footer.ejs") %>