<%-include("./partials/head.ejs") %>
<%-include("./partials/header.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <form action="/products/products"method="GET" >
            <input type="email" name="mail" value="" placeholder="email:">
            <input type="text" name="usuario" value="" placeholder="usuario:">
            <input type="password" name="contraseña" value="" placeholder="contraseña:">
            <input type="date" name="fecha" value="" placeholder="fecha:">
            <input type="number" name="documento" value="" placeholder="documento:">
            <input type="text" name="fotodeperfil" value="" placeholder="Ingresa el link de tu foto de perfil: ">
        </form>
        <p>¿Ya tienes una cuenta?
            <a href="/users/login">Inicia Sesion </a>
        </p>


<%-include("./partials/footer.ejs") %>