<%-include("./partials/head.ejs") %>
<%-include("./partials/header.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div>
        <div class="col-12">
            <h2 class="crea-usuario">Crea tu usuario!</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <form class= "cajaPrincipal"action="/users/registro" method="POST" >
            <input class="correo"type="email" name="email" value="" placeholder="email:">
            <input class="texto"type="text" name="nombre" value="" placeholder="usuario:">
            <input class="contrasena"type="password" name="password" value="" placeholder="contraseña:">
            <input class="fechadenac"type="date" name="fecha_de_nacimiento" value="" placeholder="fecha:">
            <input class="dni"type="number" name="dni" value="" placeholder="documento:">
            <input class="fotodeperfil"type="text" name="fotodeperfil" value="" placeholder="foto de perfil: ">
            <button class="registrate"type="submit" class="buy-now-button" href>Registrate</button>
        </form>
        <p class = "parrafo">¿Ya tienes una cuenta?
            <a class="link"href="/users/login">Inicia Sesion </a>
        </p>
    </div>
</div>


<%-include("./partials/footer.ejs") %>