<%-include("./partials/head.ejs") %>
<%-include("./partials/header.ejs") %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
        Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
        Eliminen estás líneas y coloquen el formulario. <br>
        Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
        ////////////////
        </h2>
        <form action="./product.html"method="GET" >
            <div><input type="email" name="mail" value="" placeholder="email:"></div>
            <div><input type="text" name="usuario" value="" placeholder="usuario:"></div>
            <div><input type="password" name="contraseña" value="" placeholder="contraseña:"></div>
            <div><input type="date" name="fecha" value="" placeholder="fecha:"></div>
            <div><input type="number" name="documento" value="" placeholder="documento:"></div>
            <div><input type="text" name="fotodeperfil" value="" placeholder="foto de perfil: "></div>
        </form>
        <p>¿Ya tienes una cuenta?
            <a href="/users/login">Inicia Sesion </a>
        </p>


<%-include("./partials/footer.ejs") %>